.container {
  width: 1000px;
  /*opacity: 0.8;*/
}
.node rect {
  cursor: pointer;
  fill: #fff;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.ui-menu-item
{
  width: 400px;
}
ul#menu{ 
  height:20px;
  overflow:hidden;
 transition:height 1s ease 0.10s;
 /*transform:rotate(-90deg);*/
}
ul#menu:hover{ height:260px; }

.modal-content {
    background-clip: padding-box;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
    width: 830px;
    height: 760px; 
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
   
    height: 10px;
    /*margin: 1px;*/
    margin-bottom: -50px;
    text-indent: -999px;
    width: 10px;
    position: static;

}
.carousel-indicators .active {
    background-color: black;
    height: 12px;
    /*margin: 0;*/
    margin-bottom: -50px;
    width: 12px;
    position: static;
}
.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
    height: 250px;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    height: 250px;
}
#form_home {
opacity: 0.7;


}
#imageLogo {
  width: 255px;
  height: 50px;
  margin-right: 50px;
}
#home {
  background-image:url(../images/gsti.png);
  background-repeat:no-repeat;
  background-position:center top;
  border-radius: 3px;
  -moz-box-shadow: 2px 2px 4px 0px #656565;
-webkit-box-shadow: 2px 2px 4px 0px #656565;
-o-box-shadow: 2px 2px 4px 0px #656565;
box-shadow: 2px 2px 4px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=4);
width: 646px ;
margin-left: 160px;
}
body {
  background: #cff;
    /*background-image:url(../images/gsti.png);*/
  background-repeat:no-repeat;
  width: 100%;
  background-position:center top;
  /*margin-top: 150px;*/
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;


}

header {
  padding-top: 20px;
}

header img {
  padding: 1em;
  background: #fff;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Liens */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}
/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Bouton inscription */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}
/*.table.table-bordered
{
  border-color: black;
   border-style: solid;
}*/
textarea {
  
  resize: none;
  
  overflow: auto;
}
.ui-autocomplete
 {
  padding:1;
  list-style-type:none;
  background: -moz-linear-gradient(center top , #51c3fa, rgba(81, 195, 250, 0)) repeat scroll 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 5px 5px 5px 0px #68cbd0;
-webkit-box-shadow: 5px 5px 5px 0px #68cbd0;
-o-box-shadow: 5px 5px 5px 0px #68cbd0;
box-shadow: 5px 5px 5px 0px #68cbd0;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#68cbd0, Direction=134, Strength=5);
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
width: 400px;
 }
 .ui-menu-item:hover
 {
  text-decoration: underline;

 }

/* Coins arrondis */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  -moz-box-shadow: 2px 2px 4px 0px #656565;
-webkit-box-shadow: 2px 2px 4px 0px #656565;
-o-box-shadow: 2px 2px 4px 0px #656565;
box-shadow: 2px 2px 4px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=4);
/*background-color: #380000 ;*/
}
#test{
  /*background-color: #380000 ;*/
-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  -moz-box-shadow: 2px 2px 4px 0px #656565;
-webkit-box-shadow: 2px 2px 4px 0px #656565;
-o-box-shadow: 2px 2px 4px 0px #656565;
box-shadow: 2px 2px 4px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=4);
}

footer {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}


.form-control{
border: 1px solid grey;
margin-top: 10px;
margin-left: 10px;
}


.aaa{
  border: 1px solid black;
   border-collapse: separate;
    padding: 7px ;
}
  

table
{
  border: 1px solid black;
  margin: auto;
}
.glyphicon{
 -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  color: #09c;
}
#barreRecherche {
  margin-top: 0px;
margin-left: 0px;
}

.boutton{
height: 39px;
    margin-left: 10px;
    margin-right: -10px;
    margin-top: -11px;
    padding: 0;
    text-align: center;
    width: 39px;

}





.CSSTableGenerator {
  margin:0px;padding:0px;
  width:100%;
  box-shadow: 5px 5px 5px #888888;
  border:1px solid #000000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
  
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#fcfcfc; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
  vertical-align:middle;
  
  
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:10px;
  font-family:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:bold;
  color:#000000;
}.CSSTableGenerator tr:last-child td{
  border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
  border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #aaffff 5%, #6ff2f2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aaffff), color-stop(1, #6ff2f2) );
  background:-moz-linear-gradient( center top, #aaffff 5%, #6ff2f2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aaffff", endColorstr="#6ff2f2");  background: -o-linear-gradient(top,#aaffff,6ff2f2);

  background-color:#aaffff;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight:bold;
  color:#333333;
}
.CSSTableGenerator tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #aaffff 5%, #6ff2f2 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #aaffff), color-stop(1, #6ff2f2) );
  background:-moz-linear-gradient( center top, #aaffff 5%, #6ff2f2 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#aaffff", endColorstr="#6ff2f2");  background: -o-linear-gradient(top,#aaffff,6ff2f2);

  background-color:#aaffff;
}
.CSSTableGenerator tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}