<h1>Application Exemple</h1>

<p>
  C'est la page d'accuile pour l'application exemple du
  <a href="http://railstutorial.org/">Tutoriel Ruby on Rails</a>.
</p>
<!--
<div id="flash">
	<button type="button" class="btn btn-primary">Primary</button>
</div> 



<div id="test">
	<button type="button"  class="btn btn-lg btn-danger" data-toggle="popover" title="Popfffffver title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover
	</button>
</div>

<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>



<div class="dropdown">
  <a data-toggle="dropdown" href="#">Dropdown trigger</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    dazda
  </ul>
   <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    dazda
  </ul>
</div>


<div class="dropdown">
  <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    Dropdown <span class="caret"></span>
  </a>


  <ul class="dropdown-menu" data-toggle="dropdown" role="menu" aria-labelledby="dLabel">
  ejjhjhjhjhjhts
  </ul>

  <ul class="dropdown-menu" data-toggle="dropdown" role="menu" aria-labelledby="dLabel">
  fs
  </ul>

</div>-->

<%= link_to "S'inscrire!", '#', :class => "signup_button round" %>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#descriptImprimante" role="tab" data-toggle="tab">Description Imprimante</a></li>
  <li><a href="#incident" role="tab" data-toggle="tab">Incident</a></li>
  <li><a href="#consommable" role="tab" data-toggle="tab">Consommable</a></li>
  <li><a href="#compteur" role="tab" data-toggle="tab">Compteur</a></li>
</ul>



<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="descriptImprimante">

</br>
    Description de l'imprimante



  </div>


  <div class="tab-pane" id="incident">

    Incidents de l'imprimante





  </div>
  <div class="tab-pane" id="consommable">


   Consommable de l'imprimante




  </div>
  <div class="tab-pane" id="compteur">




   Manip Relevé Compteur ?






  </div>
</div>