%h2{:align => "center"} Formulaire inscription
%form.form-horizontal{:role => "form"}
  .form-group
    %label.control-label.col-sm-2{:for => "email"} Email:
    .col-sm-10
      %input#email.form-control{:placeholder => "Enter email", :type => "email"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Password:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Enter password", :type => "password"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Confirm password:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Confirm password", :type => "password"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Nom:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Enter Nom", :type => "text"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Prenom:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Enter Prenom", :type => "text"}/
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          %input{:type => "checkbox"}/
          Remember me
  .form-group
    .col-sm-offset-2.col-sm-10
      %button.btn.btn-default{:type => "submit"} Submit
