<table align="center" style="width: 500px;">
        <thead>
          <tr>
            <th style="vertical-align: center;" >
              CodeIncident
            </th>
            <th align="center">
              Intitule
            </th>
          </tr>
        </thead>
        <tbody>
           <% @printers.each do |printer| %>
          <tr>
            <td align="center">
              <%= link_to printer.codePrinters %>
            </td>
            <td align="center">
              <%= link_to  printer.intitulePrinters %>
            </td>
          </tr>
            
        <% end %>

        </tbody>
       

      </table>
      