%h2{:align => "center"} PROFIL
%p
  Page de Profil (Remplir les champs automatiquement de la Base de donnée)
%form.form-horizontal{:role => "form"}
  .form-group
    %label.control-label.col-sm-2{:for => "email"} Email:
    .col-sm-10
      %input#email.form-control{:placeholder => "Enter email", :type => "email"}/
  .form-group
    %label.control-label.col-sm-2{:for => "email"} Login:
    .col-sm-10
      %input#login.form-control{:placeholder => "Enter Login", :type => "text"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Password:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Enter password", :type => "password"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Confirm password:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Confirm password", :type => "password"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Nom:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Enter Nom", :type => "text"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Prenom:
    .col-sm-10
      %input#pwd.form-control{:placeholder => "Enter Prenom", :type => "text"}/
  .form-group
    %label.control-label.col-sm-2{:for => "pwd"} Statut:
    .col-sm-10
      %select.form-control{:autofocus => ""}
        %option Hotline 1
        %option Hotline 2
        %option Administrateur
