<h1>Rechercher</h1>
<p>
 Page de recherche</p>


<div class="row" >
  
 
<div class="row" >
  
 <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" id="barreRecherche">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Incident <span class="caret"></span></button>

        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">Incident</a></li>
          <li><a href="#">Consommable</a></li>
          <li><a href="#">Compteur</a></li>
        
        </ul>

      </div><!-- /btn-group -->
      
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

