%h1 Rechercher
%p
  Entrez votre code incidents et faite "Entrer"
/ .row
/   .row
/     .col-lg-6
/       .input-group
/         %input#barreRecherche.form-control{:type => "text"}/
/         %span.input-group-btn
/           %button.btn.btn-default{:type => "button"}
/             %span.glyphicon.glyphicon-search
/         .input-group-btn
/           %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
/             Incident
/             %span.caret
/           %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
/             %li
/               %a{:href => "#"} Incident
/             %li
/               %a{:href => "#"} Consommable
/             %li
/               %a{:href => "#"} Compteur


= simple_form_for @incident, url: search_incidents_path(@incident), method: :get do |f| 
  = f.autocomplete_field :code_incidents, autocomplete_incident_code_incidents_pages_path,:size => 75, :"data-autocomplete-label" => false