
<table align="center" style="width: 500px; border: none">
        <thead>
          <tr>
            <td align="center">
              <b> ID </b>
            </td>
            <td align="center" >
              <b> CodeImprimante </b>
            </td>
          </tr>
        </thead>
        <tbody>
           <% @printers.each do |printer| %>
          <tr>
            <td align="center">
              <%= link_to printer.id, printer%>
            </td>
            <td align="center">
              <%= link_to printer.codePrinters, printer%>
            </td>
          </tr>
            
        <% end %>

        </tbody>
       

      </table>
      