  <h1>Consommables : <%= @consommable.id %> </h1>

<table style="width: 700px; border: none; ">
	<thead><tr>
		<th>Code Consommable</th>	
		<th>Designation</th>
		<th>Printer ID</th>	
	</tr></thead>
	<tbody>
	<tr>
		<td><%= @consommable.codeConsommables  %>	</td>	
		<td><%= @consommable.designationConsommables  %> </td>
		<td><%= @consommable.printer_id  %>	</td>	
	</tr>
	</tbody>
</table>
