<header>
  <% logo = image_tag("logo.png", :alt => "Application exemple", :class => "round") %>
  <%= link_to logo,   :controller => :pages, :action => :home %>
  <nav class="round">
    <ul>
      <li><%= link_to "Liste Imprimante",  :controller => :pages, :action => :home %></li>
      <li><%= link_to "Profil", :controller => :pages, :action => :profil %></li>
      <li><%= link_to "Rechercher", '#' %></li>
    </ul>
  </nav>
</header>